@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#root {
  background-color: #d1d5de;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #252525;
  height: 70px;
}

.dropdown-toggle {
  color: #d1d5de !important;
}

ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  color: white;
  list-style: none;
  margin: 10px;
}

.navbar h1 {
  color: white;
  margin: 0;
  margin-left: 10px;
}

.modal {
  padding-top: 10vh;
}

.nav-btn {
  color: white !important;
}

/* .login-modal-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 105, 105, 0.573);
  z-index: 2;
}

.account-form {
position: fixed;
left: 0;
right: 0;
top: 30%;
margin: 0 auto;
background-color: white;
padding: 20px;
width: 500px;
border-radius: 10px;
} */

p {
  color: black;
}

.nav-links, .close-modal, input[type='checkbox'] {
  cursor: pointer;
}

#navTitle {
  color: #ff1f26;
  font-family: 'Lato', sans-serif;
}

.add-form{
  max-width: 600px;
  max-height: 200vh;
  margin: 20px auto;
  /* background-image: linear-gradient(#7CB9E8, #7CB9E8 ); */
background-color: #4062bb;
/* background-color: #804488; */
  border-radius: 50px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  box-shadow: 0 0 20px 5px #b7b6c2;
  transition: all 0.3s ease;
  padding-top: 10px;
  color: white;
}

@media (max-width: 200px) {
  .container {
    width: 90%;
  }
}

.url,
.gift-name,
.gift-price,
.tags,
.link,
textarea {
  background-color: #d1d5de;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px grey;
  font-size: 12px;
  padding: 8px;
  width: 60%;
  margin:10px 10px 10px 0;
}

.add{
  background-color: #d1d5de;
  border: none;
  border-radius: 10px;
  color: #9faab8;
  cursor: pointer;
  font-size: 22px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}
.add-gift{
  background-color: #d1d5de;
  border: none;
  border-radius: 10px;
  color: #9faab8;
  cursor: pointer;
  font-size: 22px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}


.add :hover {
  background-color: #3454d5;
  color: #d1d5de;
}

.add-gift:hover {
  background-color: #3454d5;
  color: #d1d5de;
}

.gift{
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient(#4062bb, #6CB4EE);
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}


.gift:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.gifts {
  padding: 4px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  justify-items: center;
}
.delete{
  background-color: #6CB4EE;
  border: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-size: 22px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
 left: 0;
}
.delete:hover{
  background-color: #CC0000;
  color: #d1d5de;
}
.ribbon {
  position: fixed;
  inset: 0 auto auto 0;
  background: red;
  background: red;
  transform-origin: 100% 0; /* or top left */
  transform: translate(-29.3%) rotate(-45deg);
  
}
.ribbon-1 {
  position: fixed;
  inset: 0 auto auto 0;
  background: red;
  transform-origin: 100% 0;
  transform: translate(-29.3%) rotate(-45deg);
  box-shadow: 0 0 0 999px red;
  clip-path: inset(0 -100%);
  color: white;
}

.left {
  inset: 0 auto auto 0; /* top and left equal to 0 */
  transform-origin: 100% 0; /* OR top right */
  transform: translate(-29.3%) rotate(-45deg);
}
.right {
  inset: 0 0 auto auto; /* top and right equal to 0 */
  transform-origin: 0 0; /* OR top left */
  transform: translate(29.3%) rotate(45deg);
}
.ribbon-2 {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  
  position: absolute;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path: 
    polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f)/2));
  background: #CC0000;
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
}
.ribb{
  padding-top: 10px;
}

.box p{
  color: white;
  
}
.login-modal-outer{
  position: relative;
}
.close-modal{
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px
}
.picture{
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}
label{
  font-weight: bold;
  font-size: 20px;
}
@media (max-width: 1080px) {
  .gifts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .gifts {
    grid-template-columns: repeat(1, 1fr);
  }
}






